.DS_Store
front/node_modules
/dist

front/package-lock.json
server/venv
__pycache__
server/config/db_data/taxi_GPS.csv
front/src/assets/images


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
